<form
  class="form-horizontal"
  autocomplete="off"
  #editUserModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'EditProduct' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Edit Products' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ "Name" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              required
              maxlength="32"
              [(ngModel)]="product.name"
              #nameModel="ngModel"
              #nameEl
            />
            <abp-validation-summary
              [control]="nameModel"
              [controlEl]="nameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="description">
            {{ "Description" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="description"
              id="description"
              required
              maxlength="32"
              [(ngModel)]="product.description"
              #surnameModel="ngModel"
              #surnameEl
            />
            <abp-validation-summary
              [control]="surnameModel"
              [controlEl]="surnameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="price">
            {{ "Price" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="price"
              id="price"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="product.price"
              #userNameModel="ngModel"
              #userNameEl
            />
            <abp-validation-summary
              [control]="userNameModel"
              [controlEl]="userNameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <!-- <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="skillsrequired">
              {{ "Skills Required" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                name="skillsrequired"
                id="skillsrequired"
                required
                minlength="2"
                maxlength="32"
                [(ngModel)]="job.skillsRequired"
                #userNameModel="ngModel"
                #userNameEl
              />
              <abp-validation-summary
                [control]="userNameModel"
                [controlEl]="userNameEl"
              ></abp-validation-summary>
            </div>
          </div> -->
          <!-- <label class="col-md-3 col-form-label" for="minimumexperiencerequired">
            {{ "Minimum Experience Required" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="minimumexperiencerequired"
              id="minimumexperiencerequired"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="job.minimumExperienceRequired"
              #userNameModel="ngModel"
              #userNameEl
            />
            <abp-validation-summary
              [control]="userNameModel"
              [controlEl]="userNameEl"
            ></abp-validation-summary>
           </div>
         -->
        
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editUserModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
